Стоимость монтажа электропроводки в квартире или частном доме состоит из двух составляющих: стоимости монтажных работ и стоимости электротехнических материалов. В самом начале работ по монтажу электропроводки необходимо составить список всего необходимого материала.

<ol>
    <li>Кабель (провод) ВВГ-НГ 3х1,5; 3х2,5; 3х4; 3х6; 3х10 мм квадратных. Кабель с тремя жилами, каждая жила имеет сечение равное 1,5; 2,5; 4; 6 и 10 мм квадратных.</li>
    <li>Телевизионный кабель.</li>
    <li>Компьютерный кабель.</li>
    <li>Телефонный провод.</li>
    <li>Дюбель-хомут для крепления кабелей диаметром 5-10 мм и 11-18 мм.</li>
    <li>Дюбель-гвоздь (потай) 6х40; 6х80 мм. Под отверстие диаметром 6 мм и длиной 40 и 80 мм.</li>
    <li>Хомут-стяжка длиной 200 мм для крепления проводов на потолке при монтаже без гофрированных труб.</li>
    <li>Гофрированная труба диаметром 20 мм (16 мм).</li>
    <li>Держатели для гофрированных труб, "клипсы".</li>
    <li>Установочные коробки - подрозетники. Самый оптимальный (и распространенный) выбор - это установочные коробки российской фирмы "GUSI". Для кирпичных стен с диаметром 68 мм и глубиной 45 мм, для бетонных стен с диаметром 60 мм и глубиной 40 мм.</li>
    <li>"Бабочки" - перемычки для соединения установочных коробок с диаметром 68 мм.</li>
    <li>Гипс, именно гипс, а не различные смеси в состав которых входит гипс.</li>
    <li>Распределительные коробки.</li>
    <li>Изоляционная лента.</li>
    <li>Счетчик.</li>
    <li>Щиток.</li>
    <li>Автоматы. Автоматические выключатели.</li>
    <li>УЗО. Устройство защитного отключения.</li>
    <li>"Гребенка". Шина-перемычка для автоматических выключателей.</li>
    <li>Нулевая шина.</li>
    <li>Для "времянки" - тройник, патроны, лампы.</li>
    <li>Розетки и выключатели.</li>
    <li>Светильники.</li>

</ol>