К такому явлению как электричество уже давно все привыкли. Многие термины мы употребляем в обиходе, обладая лишь поверхностным пониманием. Между тем, путь пройденный электричеством от электростанции до вашей розетки непрост.

Существует множество факторов, влияющих на бесперебойную подачу электроэнергии к конечному потребителю. Все нюансы рассматривать в данной статье не будем, ограничимся лишь такими терминами как “Фаза” и “Ноль”.

Итак, для чего нужны фаза и ноль в электрике, и что это вообще такое. Для более полного понимания вернемся опять к электростанции. Берем в качестве примера некую электростанцию, на которой происходит следующее:
<ol>
    <li>Трехфазные генераторы переменного тока вырабатывают ток</li>
    <li>По линиям электропередач ток поступает на трансформаторные подстанции</li>
    <li>С трансформаторных подстанций ток поступает в дома и т.д.</li>
</ol>

Теперь немного подробнее. Сначала напрашивается вопрос: почему мы используем именно переменный ток? Все очень просто: переменный ток можно передавать на большие расстояния, а с постоянным это довольно проблематично. Вопрос второй: как так получается, что к трансформатору приходит три фазы, а в квартире получается однофазная сеть?

Дело в том, что на электрощиток многоквартирного дома приходит три фазы, ноль и заземление. Далее, вводно-распределительные устройства (ВРУ) разделяют все три фазы, при этом каждый фазный провод получает свое заземление и свой ноль.

Понятное дело, что без подготовки эту информацию не усвоить, поэтому ниже мы остановимся и расскажем об этом более подробно.