Набор необходимых инструментов зависит от характера деятельности, есть элементы, которые необходимы при выполнении любых работ, это обычные ручные инструменты. При прокладке высоковольтных кабелей с проводами большого сечения, штроблении бетонных стен, прокладке воздушных линий требуются специальные инструменты. Рассмотрим случаи, и условия когда электрики выполняют работы на электросетях зданий сооружений уже с проложенной проводкой или подведенной линии электропередач. В этом случае проводятся работы по ремонту существующей проводки, монтаж розеточной осветительной сети, прокладка промежуточных кабельных линий, установка и подключения электрооборудования.

Ручные механические инструменты

Для снятия изоляции при разделке кабелей и отдельных проводов есть несколько приспособлений, одним из эффективных инструментов являются монтажные ножи.

Самым простым и дешевым вариантом считается обычный монтажный нож с пластиковой ручкой и сменными лезвиями.

Отвертки и гаечные ключи

Набор отверток с пером различных размеров и конфигураций:
<ol>
    <li>Плоские отвертки;</li>
    <li>Четырехгранные;</li>
    <li>Шестигранные ключи;</li>
    <li>Трубчатые и торцовые гаечные ключи.</li>
</ol>

Пассатижы ...
