<!DOCTYPE html>
<html>
<head>
	<title>Проводка дома</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/public/css/index.css">
	<link rel="stylesheet" href="/public/css/menu.css">
</head>
	<body>
	<div class="cover">
		<div class = "header">
			<div class="head-site">
				<a href="/index">Электропроводка дома</a>
			</div>
		</div>
		<!-- кнопки -->
		<%- include('headers/buttons');%>
		<!-- Картинки -->
		<div id="images-box">
			<!-- <div id="sim-arrow-left"><img src="/public/img/sim-arrow-left.png"></div> -->
			<div class="slider-box">
				<figure class="fig showing"><img src="/public/img/walls.jpg"></figure>
			</div>
		</div>

		<!-- Контент -->
		<div id="content">
			<div class="work">
				<p>С чего начать</p>
				<%- include('headers/workstepbystep');%>
			</div>
			<div id="text">
				<p class="step">Шаг №: <%= newsID %></p>
				<p><%- include('content/walls');%></p>
			</div>
		</div>
	</div>
	<div class="arrow"></div>
	<footer>
		<div class="container">
	    	<div class="footer-col"><span>Мой сайт © 2020</span></div>
	  	</div>
	</footer>
		<script src = "/public/js/menu.js" type="module"></script>
		<script src = "/public/js/arrow.js"></script>
	</body>

</html>