body{
	margin: 0px;
	padding: 0px;
	font-family: "Roboto" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
}

P, H1{
	margin: 0;
	padding: 0;
}

figure{
	width: 100%;
	height: 300px;
	margin:0;
	padding: 0;
	overflow: hidden;
	min-width: 300px;
}

figure img{
	width: 100%;
}


/*ящик для всей страницы*/
.cover{
	width: auto;
	height: 1700px;
	background: #FFF5EE;
	overflow: hidden;
}

.header{
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center; /*Центрирование по горизонтали*/
	align-items: center;
	position: relative;
	background: #5F9EA0;
}

.head-site{
	position: absolute;
  	margin: auto;
  	overflow: auto; /*чтобы контент не расползался*/
}

.head-site a{
	color: white;
	font-size: 30pt;
	text-decoration: none; /*убираем подчеркивание*/
}

/*########################*/

/*кнопки*/
#images-box{
	width: auto;
	height:300px;
	margin-top: 10px;
	position: relative;
}

.slider-box{
	margin-left: auto;
  	margin-right: auto;
	width: 100%;
	height: 100%;
}


/*для изображений в слайдере и плавного переключения*/
	.fig{
		display: block;
		position: absolute;
		z-index: 1;
		opacity: 0;
		transition: opacity 1s ease-in;
	}

	.showing{
		opacity: 1;
		z-index: 2;
	}

		/*для стрелок*/
		#sim-arrow-left{
			left: 10px;
		  	top: 40%;
		  	display: block;
		  	position: absolute;
		  	opacity: 0.5; /*добаляет прозрачность телу*/
		  	z-index: 3;
		}

		#sim-arrow-left:hover {
			opacity: 1.0;
			cursor: pointer;
		}

		#sim-arrow-right{
			right: 10px;
		  	top: 40%;
		  	display: block;
		  	position: absolute;
		  	opacity: 0.5;
		  	z-index: 3;
		}

		#sim-arrow-right:hover {
			opacity: 1.0;
			cursor: pointer;
		}


#content{
	margin-top: 10px;
	width: auto;
	height:1000px;
}

.work{
	text-align: left;
	float: left;
	width: 200px;
	height: 500px;
	background: #5F9EA0;
	color: white;
	display: block;
}

.work > P, .work show > P{
	margin: 5px;
	padding: 5px;
	border-bottom: 1px solid #BFE2FF;
}

.work-step-by-step{
	display: inline-block;
	width: 190px;
	height: 30px;
	color: white;
	padding: 5px;
}

.work-step-by-step:hover{
	cursor: pointer;
  	background: #008080;
  	color: white;
}

#text{
	margin-top: 5px;
	margin-left: 210px;
}

#text p {
	padding-top: 10px;
}

.arrow{
	background: url(/public/img/uparrow1.png);
	width: 96px;
	height: 96px;
	display: block;
	position: fixed;
	bottom: 20px;
	right: 10px;
	opacity: 0;
	transition: opacity 1s ease-in;
	transition-duration: 1s;
}

.showarrow{
	opacity: 0.5;
}

.arrow:hover{
	cursor: pointer;
	opacity: 1;
}

.step{
	border-bottom: 2px solid #e18b8b;
}

.footer-col {
	width: 100%;
	float: left;
	height: 50px;
	background: #CAC1BA;
}

@media screen and (max-width: 800px){
	.work{
		margin: 5px;
		float: none;
		width: 100%;
		height: 20%;
		background: #FFF5EE;
		color: black;

	}
	.work-step-by-step{
		display: inline-block;
		width: 100%;
		height: 30px;
		color: black;
		padding: 5px;
	}
	#text{margin-left: 5px;}
	#head-site{text-align: center;}
	.head-site a{font-size: 25pt;}

	.arrow{
		background: url(/public/img/uparrow2.png);
		width: 48px;
		height: 48px;
		display: block;
		position: fixed;
		bottom: 20px;
		right: 10px;
		opacity: 0;
		transition: opacity 1s ease-in;
		transition-duration: 1s;
	}

	.showarrow{
		opacity: 0.5;
	}
}
