<div id='buttons'>
			<a href="/index" class="nav">Главная</a>
			<a href="/electricity" class="nav">Переменный электрический ток?</a>
			<a href="" class="nav">Инструменты</a>
			<a href="" class="nav">Фаза и ноль</a>
</div>