<nav class='clearfix'>
	<a href="#" id = pull>Меню</a>
	<ul class="clearfix" id="myMenu">
		<li><a href="/index">Главная</a></li>
		<li><a href="/electricity" >Электричество</a></li>
		<li><a href="">Инструменты</a></li>
		<li><a href="">Фаза и ноль</a></li>
	</ul>
</nav>