<div id='buttons'>
			<a href="/index" class="nav">Главная</a>
			<a href="/electricity" class="nav">Переменный электрический ток?</a>
			<a href="" class="nav">Инструменты</a>
			<a href="" class="nav">Фаза и ноль</a>
</div>

<div id="mobile">
	<img src="/public/img/line.png">
		<div id="buttons-mobile">
			<a href="/index" class="nav">Главная</a>
			<a href="/electricity" class="nav">Переменный электрический ток?</a>
			<a href="" class="nav">Инструменты</a>
			<a href="" class="nav">Фаза и ноль</a>
		</div>
</div>