<a class="work-step-by-step" href="/step-one-scheme/1">План схема</a></br>
<a class="work-step-by-step" href="/step-material/2">Покупка</a></br>
<a class="work-step-by-step" href="/step-walls/3">Подготовка стен</a></br>
<a class="work-step-by-step" href="/step-wire-mounting/4">Укладка проводов</a></br>